<h1 class="w3-center w3-container w3-blue">Edição de Gibi</h1>
<form class="w3-container">
    <div><label>Título:</label><input class="w3-input w3-border w3-round" type="text" id="txtTitulo" maxlength="1000" name="Titulo" [(ngModel)]="gibi.Titulo" ></div>
        <div><label>Valor:</label><input class="w3-input w3-border w3-round" type="text" id="txtValor" name="Valor" [(ngModel)]="gibi.Valor"></div>
        <div><label>Editora:</label><input class="w3-input w3-border w3-round" type="text" id="txtEditora" name="Editora" [(ngModel)]="gibi.Editora"></div>
        <div><label>Data de Publicação:</label><input class="w3-input w3-border w3-round" type="date" id="txtDataPublicacao" name="DataPublicacao" (ngModelChange)="gibi.DataPublicacao=$event" [ngModel]="gibi.DataPublicacao | date:'yyyy-MM-dd'"></div>
    <div class="w3-margin">
        <button type="button" id="btnVoltar" class="w3-btn w3-red w3-round-xlarge w3-margin-left" (click)="goToIndex()">Voltar</button>
        <button type="button" id="btnAlterar" class="w3-btn w3-blue w3-round-xlarge w3-margin-left" (click)="edit()">Alterar</button>
    </div>
</form>