<!--<p>caderno-create works!</p>
<button type="button" id="btnVoltar" class="w3-btn w3-blue" (click)="goToIndex()">Voltar</button> -->

<div>
    <h1 class="w3-center w3-container w3-blue">Cadastro de Caderno</h1>
    <form class="w3-container">
        <div><label>Título:</label><input class="w3-input w3-border w3-round" type="text" id="txtTitulo" maxlength="1000" name="Titulo" [(ngModel)]="caderno.Titulo" ></div>
        <div><label>Valor:</label><input class="w3-input w3-border w3-round" type="text" id="txtValor" name="Valor" [(ngModel)]="caderno.Valor"></div>
        <div><label>Número de folhas:</label><input class="w3-input w3-border w3-round" type="text" id="txtNrFolhas" name="NrFolhas" [(ngModel)]="caderno.NrFolhas"></div>
        <div class="w3-margin">
            <button type="button" id="btnVoltar" class="w3-btn w3-red w3-round-xlarge w3-margin-left" (click)="goToIndex()">Voltar</button>
            <button type="button" id="btnSalvar" class="w3-btn w3-green w3-round-xlarge w3-margin-left" (click)="create()">Salvar</button>
        </div>
    </form>
</div>